:root {
  --font-inter: 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
  --spacer: 1rem;
  --limeGreen: #1db489;
  --brightRed: #dc414c;
  --facebook: #198ff5;
  --twitter: #1ca0f2;
  --instagram-start: #fdc468;
  --instagram-end: #df4996;
  --youtube: #c4032a;
  --bg: #fff;
  --top-bg: #f5f7ff;
  --bg-card: #f0f2fa;
  --bg-card-hover: #e0e2f0;
  --text-1: #63687e;
  --text-2: #1e202a;
  --toggle-bg-start: #afb4ca;
  --toggle-bg-end: #afb4ca;
  --toggle: var(--bg);
}
.theme-dark {
  --toggle-bg-start: #378fe6;
  --toggle-bg-end: #3eda82;
  --bg: #1e202a;
  --toggle: var(--bg);
  --top-bg: #1f212e;
  --bg-card: #252a41;
  --bg-card-hover: #333a57;
  --text-1: #8b97c6;
  --text-2: #fff;
}
*,
:after,
:before {
  box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ol[role='list'],
ul[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  background: var(--dark-bg);
  color: var(--dark-text-2);
  min-height: 100vh;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}
.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
button,
input,
select,
textarea {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  :after,
  :before {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
html {
  font-size: 100%;
}
body {
  background-color: var(--bg);
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
.container {
  margin: 0 auto;
  max-width: 70em;
  width: 90%;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em 0;
}
.header__title {
  border-bottom: 1px solid var(--text-1);
  color: var(--text-2);
  font-weight: 700;
  padding-bottom: 1.5em;
}
.header__title h1 {
  font-size: 2rem;
}
.header__title span {
  color: var(--text-1);
}
@media screen and (min-width: 40.5em) {
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0;
  }
  .header__title {
    border: none;
    padding-bottom: 0;
  }
}
.toggle {
  align-items: center;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}
.toggle span:first-child {
  color: var(--text-1);
}
.toggle span:first-child:hover {
  color: var(--text-2);
}
.toggle__switch {
  background: linear-gradient(
    to right,
    var(--toggle-bg-start),
    var(--toggle-bg-end)
  );
  border-radius: 50vh;
  height: 25px;
  position: relative;
  width: 50px;
}
.toggle__switch:after {
  background: var(--toggle);
  border-radius: 50%;
  content: '';
  height: 20px;
  left: 2.5px;
  position: absolute;
  top: 2.25px;
  transition: all 0.2s ease-in-out;
  width: 20px;
}
.toggle__input:checked + .toggle__switch:after {
  left: calc(100% - 2.5px);
  transform: translateX(-100%);
}
section {
  padding: 1em 0 0;
}
.overview {
  padding-bottom: 2em;
}
.overview__title {
  color: var(--text-2);
  margin: 1em 0;
}
.cards {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  text-align: center;
}
@media screen and (min-width: 40.5em) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.cards .card {
  background: var(--bg-card);
  border-radius: 4px;
  cursor: pointer;
}
.cards .card:hover {
  background: var(--bg-card-hover);
}
.cards--1 .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 2em;
  padding: 2em 3em;
  position: relative;
}
.cards--1 .card:after {
  background-color: currentColor;
  border-radius: 8px;
  content: '';
  inset: -3px 0 0;
  position: absolute;
  z-index: -2;
}
.cards--1 .card:first-child:after {
  background: var(--facebook);
}
.cards--1 .card:nth-child(2):after {
  background: var(--twitter);
}
.cards--1 .card:nth-child(3):after {
  background-image: linear-gradient(
    to right,
    var(--instagram-start),
    var(--instagram-end)
  );
}
.cards--1 .card:nth-child(4):after {
  background: var(--youtube);
}
.cards--1 .card__user {
  align-items: center;
  color: var(--text-1);
  display: flex;
  font-weight: 700;
  gap: 0.5em;
}
.cards--1 .card__count {
  color: var(--text-2);
  font-weight: 700;
}
.cards--1 .card__count p {
  font-size: 3rem;
  line-height: 1.1;
}
.cards--1 .card__count span {
  color: var(--text-1);
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.cards--1 .card__report {
  align-items: center;
  color: var(--limeGreen);
  display: flex;
  font-weight: 700;
  gap: 1em;
}
.cards--1 .card:nth-child(4) .card__report {
  color: var(--brightRed);
}
.cards--2 .card {
  display: grid;
  font-size: 0.875rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  row-gap: 1em;
}
.cards--2 .card > span {
  align-self: start;
  color: var(--text-1);
  font-weight: 700;
  justify-self: start;
  line-height: 1;
  text-align: left;
}
.cards--2 .card > img {
  align-self: start;
  justify-self: end;
}
.cards--2 .card p {
  align-self: end;
  color: var(--text-2);
  font-size: 1.75rem;
  font-weight: 700;
  justify-self: start;
  line-height: 1;
}
.cards--2 .card__report {
  align-items: center;
  align-self: end;
  color: var(--limeGreen);
  display: flex;
  font-weight: 700;
  gap: 0.5em;
  justify-self: end;
}
.cards--2 .card:nth-child(2) .card__report,
.cards--2 .card:nth-child(7) .card__report,
.cards--2 .card:nth-child(8) .card__report {
  color: var(--brightRed);
}
