// Container
.container {
  max-width: 70em;
  width: 90%;
  margin: 0 auto;
}

// Header
.header {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  gap: 1em;

  &__title {
    font-weight: 700;
    border-bottom: 1px solid var(--text-1);
    padding-bottom: 1.5em;
    color: var(--text-2);

    & h1 {
      font-size: 2rem;
    }

    & span {
      color: var(--text-1);
    }
  }

  @media screen and (min-width: 40.5em) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    &__title {
      border: none;
      padding-bottom: 0;
    }
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  & span:first-child {
    color: var(--text-1);

    &:hover {
      color: var(--text-2);
    }
  }

  &__switch {
    width: 50px;
    height: 25px;
    background: linear-gradient(
      to right,
      var(--toggle-bg-start),
      var(--toggle-bg-end)
    );
    border-radius: 50vh;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 2.5px;
      top: 2.25px;
      background: var(--toggle);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }
  }

  &__input:checked + &__switch::after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
  }
}

// Sections
section {
  padding: 1em 0 0;
}

.overview {
  padding-bottom: 2em;

  &__title {
    margin: 1em 0;
    color: var(--text-2);
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  text-align: center;

  @media screen and (min-width: 40.5em) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  & .card {
    border-radius: 4px;
    background: var(--bg-card);
    cursor: pointer;

    &:hover {
      background: var(--bg-card-hover);
    }
  }

  &--1 {
    & .card {
      padding: 2em 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      font-size: 0.875rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: -3px 0 0;
        border-radius: 8px;
        z-index: -2;
        background-color: currentColor;
      }

      &:nth-child(1):after {
        background: var(--facebook);
      }

      &:nth-child(2)::after {
        background: var(--twitter);
      }

      &:nth-child(3)::after {
        background-image: linear-gradient(
          to right,
          var(--instagram-start),
          var(--instagram-end)
        );
      }

      &:nth-child(4)::after {
        background: var(--youtube);
      }

      &__user {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: var(--text-1);
        font-weight: 700;
      }

      &__count {
        font-weight: 700;
        color: var(--text-2);

        p {
          font-size: 3rem;
          line-height: 1.1;
        }

        span {
          color: var(--text-1);
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 4px;
        }
      }

      &__report {
        display: flex;
        align-items: center;
        gap: 1em;
        color: var(--limeGreen);
        font-weight: 700;
      }

      &:nth-child(4) .card__report {
        color: var(--brightRed);
      }
    }
  }

  &--2 {
    & .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2em;
      row-gap: 1em;
      font-size: 0.875rem;

      & > span {
        line-height: 1;
        justify-self: start;
        align-self: start;
        font-weight: 700;
        color: var(--text-1);
        text-align: left;
      }

      & > img {
        justify-self: end;
        align-self: start;
      }

      & p {
        justify-self: start;
        align-self: end;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1;
        color: var(--text-2);
      }

      &__report {
        align-self: end;
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: var(--limeGreen);
        font-weight: 700;
      }

      &:nth-child(2) .card__report {
        color: var(--brightRed);
      }

      &:nth-child(7) .card__report {
        color: var(--brightRed);
      }

      &:nth-child(8) .card__report {
        color: var(--brightRed);
      }
    }
  }
}
