// Container
.container {
	max-width: 70em;
	width: 90%;
	margin: 0 auto;
}

// Header
.header {
	display: flex;
	flex-direction: column;
	padding: 1.5em 0;
	gap: 1em;

	&__title {
		font-weight: 700;
		border-bottom: 1px solid var(--dark-text-1);
		padding-bottom: 1.5em;

		& h1 {
			font-size: 2rem;
		}

		& span {
			color: var(--dark-text-1);
		}
	}

	@media screen and (min-width: 40.5em) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 2em 0;

		&__title {
			border: none;
			padding-bottom: 0;
		}
	}
}

.toggle {
	border: none;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0.5em 0 0;

	& span {
		color: var(--dark-text-1);
		font-weight: 700;
	}

	&__wrapper {
		position: relative;
		border-radius: 150vw;
		background-image: linear-gradient(to right, var(--toggle-bg-start), var(--toggle-bg-end));
		overflow: hidden;
	}

	& input[type="radio"] {
		transform: translateX(100em);
		padding: 0;
		margin: 0 0.25em;
	}

	& label {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		opacity: 0.25;

		&:first-child {
			left: 0;
		}
		&:last-child {
			right: 0;
		}
	}

	&__switcher {
		position: absolute;
		width: 1.15rem;
		height: 1.15rem;
		background: var(--dark-bg);
		top: 50%;
		left: 0.1875rem;
		transform: translateY(-50%);
		border-radius: 50%;
		pointer-events: none;
	}

	&input[type="radio"]#light:checked + .toggle__switcher {
		// Todo
	}

	@media screen and (min-width: 40.5em) {
		padding: 0;
	}
}

// Sections

section {
	padding: 1em 0 0;
}

.overview {
	padding-bottom: 2em;

	&__title {
		margin: 1em 0;
	}
}

.cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	text-align: center;

	@media screen and (min-width: 40.5em) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}

	& .card {
		background: var(--dark-card);

		&:hover {
			// TODO
		}
	}

	&--1 {
		& .card {
			padding: 2em 3em;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2em;
			font-size: 0.875rem;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				inset: -3px 0 0;
				border-radius: 4px;
				z-index: -2;
				background-color: currentColor;
			}

			&:nth-child(1):after {
				background: var(--facebook);
			}

			&:nth-child(2)::after {
				background: var(--twitter);
			}

			&:nth-child(3)::after {
				background-image: linear-gradient(to right, var(--instagram-start), var(--instagram-end));
			}

			&:nth-child(4)::after {
				background: var(--youtube);
			}

			&__user {
				display: flex;
				align-items: center;
				gap: 0.5em;
				color: var(--dark-text-1);
				font-weight: 700;
			}

			&__count {
				font-weight: 700;

				p {
					font-size: 3rem;
					line-height: 1.1;
				}

				span {
					color: var(--dark-text-1);
					text-transform: uppercase;
					font-weight: 400;
					letter-spacing: 4px;
				}
			}

			&__report {
				display: flex;
				align-items: center;
				gap: 1em;
				color: var(--limeGreen);
				font-weight: 700;
			}

			&:nth-child(4) .card__report {
				color: var(--brightRed);
			}
		}
	}

	&--2 {
		& .card {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding: 2em;
			row-gap: 1em;
			font-size: 0.875rem;

			& > span {
				line-height: 1;
				justify-self: start;
				align-self: start;
				font-weight: 700;
				color: var(--dark-text-1);
				text-align: left;
			}

			& > img {
				justify-self: end;
				align-self: start;
			}

			& p {
				justify-self: start;
				align-self: end;
				font-size: 1.75rem;
				font-weight: 700;
				line-height: 1;
			}

			&__report {
				align-self: end;
				justify-self: end;
				display: flex;
				align-items: center;
				gap: 0.5em;
				color: var(--limeGreen);
				font-weight: 700;
			}

			&:nth-child(2) .card__report {
				color: var(--brightRed);
			}

			&:nth-child(7) .card__report {
				color: var(--brightRed);
			}

			&:nth-child(8) .card__report {
				color: var(--brightRed);
			}
		}
	}
}
