:root {
	--font-inter: "Inter", "Poppins", Arial, Helvetica, sans-serif;

	--spacer: 1rem;

	--limeGreen: #1db489;
	--brightRed: #dc414c;
	--facebook: #198ff5;
	--twitter: #1ca0f2;
	--instagram-start: #fdc468;
	--instagram-end: #df4996;
	--youtube: #c4032a;
	--toggle-bg-start: #378fe6;
	--toggle-bg-end: #3eda82;
	--toggle: #aeb3cb;
	--dark-bg: #1e202a;
	--dark-top-bg: #1f212e;
	--dark-card: #252a41;
	--dark-text-1: #8b97c6;
	--dark-text-2: #fff;
	--light-bg: #fff;
	--light-top-bg: #f5f7ff;
	--light-card: #f0f2fa;
	--light-text-1: #63687e;
	--light-text-2: #1e202a;
}
